{% extends "NotesApp/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-group form">
                <div class="form-center">
                    <legend class="border-bottom mb-4">Login to you account</legend>
                    {{form.username}}<br>
                    {{form.password}}
                    <button class="btn btn-dark btn-form" type="submit">Login</button><br>
                    <small class="text-muted">Need an Account? <a href="{% url 'register' %}">Click Here</a></small>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}